@media screen and (max-width: 1800px) {
  .aboutUs article {
    p {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 2.5rem;
    }
  }
  .basketContainer .basket .itemContainer {
    font-size: 1.6rem;
    button {
      .deleteBtn {
        height: 30px;
      }
    }
  }
}
@media screen and (max-width: 1500px) {
  .navbar {
    .navLink {
      padding: 1rem 2.3rem;
      background-size: 0% 2px;
      font-size: 1.5rem;
      &:hover {
        background-size: 80% 2px;
      }
    }
    .logo {
      img {
        height: 40px;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .cart {
      img {
        height: 60px;
      }
      span {
        font-size: 1.1rem;
        min-height: 25px;
        min-width: 25px;
      }
    }
    ul .products .subNavLink {
      padding: 1rem 1.5rem;
      font-size: 1.3rem;
      &:hover {
        padding-inline-start: 2rem;
      }
    }
  }
  .mainBackground .mainContent .mainTitle {
    font-size: 4rem;
    margin-bottom: 0rem;
  }
  .mainBackground .mainContent .mainTxt {
    margin: 1.25rem;
    font-size: 2.5rem;
    &:first-of-type {
      margin-bottom: 2rem;
    }
  }
  .mainBackground .mainContent .mainBtn {
    padding: 0.8rem 2.8rem;
    font-size: 1.8rem;
    letter-spacing: 4px;
    &:after {
      border-bottom: 4px solid white;
      border-right: 4px solid white;
    }
    &::before {
      border-left: 4px solid white;
      border-top: 4px solid white;
    }
  }
  .bestSellers {
    margin-top: -1.1rem;
    font-size: 1.8rem;
  }
  .itemPreview {
    margin: 0;
    img {
      height: 200px;
    }
  }
  .categories {
    h1 {
      font-size: 1.8rem;
    }
    a {
      padding: 1.5rem 1rem;
      margin: 2rem 8% 2rem 3%;
      &:nth-last-of-type(even) {
        margin: 2rem 3% 2rem 8%;
      }
      &:hover {
        transform: scale(1.02);
      }
      img {
        height: 15rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    }
  }
  .aboutUs article {
    margin: 0.5rem 0;
    &:nth-last-of-type(even) {
      margin: 0.5rem 0;
      img {
        height: 30rem;
      }
      & div {
        margin-left: 0;
      }
    }
    div {
      margin-right: 0;
      padding: 0 3rem;
    }
    p {
      font-size: 1rem;
      line-height: 2rem;
    }
    img {
      height: 20rem;
    }
  }
  .productsContainer {
    margin-top: 0.3rem;
    .breadcrumb {
      font-size: 1rem;
    }
    .search {
      padding: 0.2rem;
      width: 80%;
      input {
        padding: 0.1rem;
        padding-inline-start: 0.2rem;
        font-size: 1.1rem;
      }
    }
    .priceRange {
      font-size: 1.1rem;
      input {
        padding: 0.1rem;
        width: 18%;
        font-size: 1rem;
      }
    }
    form {
      h2 {
        font-size: 1.2rem;
      }
      div {
        font-size: 1.3rem;
      }
      input {
        height: 25px;
        width: 25px;
      }
    }
    .products .productsItem {
      margin: 0.4rem 0.5%;
      width: 24%;
      padding: 0.2rem;
      font-size: 1.1rem;
      .breaker {
        margin: 0.2rem auto;
      }
      .price {
        font-size: 1.3rem;
      }
    }
  }
  .basketContainer {
    grid-template: auto 1fr / 70% 30%;
    .preview {
      p {
        font-size: 1.3rem;
      }
    }
    .basket {
      .itemContainer {
        width: 90%;
        input {
          height: 35px;
          width: 40px;
          font-size: 1.2rem;
        }
        button {
          .controlBtn {
            height: 20px;
          }
        }
        .productImage {
          padding: 0.1rem 0.5rem 0.1rem 1.6rem;
          height: 80px;
        }
      }
    }
    .summary {
      h1 {
        font-size: 2.5rem;
      }
      .productSumContainer {
        .productSumPreview {
          font-size: 1.2rem;
        }
      }
      .total {
        padding: 0.5rem 0;
        font-size: 1.3rem;
      }
      button {
        padding: 1rem 3rem;
        font-size: 1.5rem;
      }
    }
  }
  .productContainer {
    .product {
      img {
        height: 75vh;
      }
      .productInfo {
        h1 {
          margin: 3rem 0 0.5rem 0;
          font-size: 2rem;
        }
        p {
          font-size: 2rem;
          &:first-of-type {
            margin-bottom: 1.2rem;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        input {
          margin: 0.2rem 0.5rem 0 0;
          height: 25px;
          width: 25px;
        }
        .addBtn {
          margin: 2.5rem 0;
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
    .navLink {
      padding: 1.1rem 2.3rem;
      font-size: 1.2rem;
    }
    .logo {
      img {
        height: 30px;
      }
      p {
        font-size: 1rem;
      }
    }
    .cart {
      img {
        height: 45px;
      }
      span {
        font-size: 1rem;
        min-height: 20px;
        min-width: 20px;
      }
    }
  }
  .mainBackground .mainContent .mainBtn {
    margin-top: 2rem;
    padding: 0.8rem 2.3rem;
    display: flex;
    justify-self: flex-start;
    font-size: 1.4rem;
    letter-spacing: 4px;
    &:after {
      border-bottom: 3px solid white;
      border-right: 3px solid white;
    }
    &::before {
      border-left: 3px solid white;
      border-top: 3px solid white;
    }
  }
  .aboutUs article {
    margin: 1rem 0;
    &:nth-child(even) img {
      height: 20rem;
    }
    h1 {
      font-size: 1.8rem;
    }
    img {
      height: 15rem;
    }
  }
  .mainBackground .mainContent .mainTitle {
    font-size: 3rem;
  }
  .mainBackground .mainContent .mainTxt {
    margin: 1rem;
    font-size: 2rem;
    &:first-of-type {
      margin-bottom: 1.3rem;
    }
  }
  .basketContainer {
    padding: 0.5rem 1rem;
    grid-template: auto 1fr / 70% 30%;
    .preview {
      p {
        padding: 0.8rem 1.7rem;
        font-size: 1.2rem;
      }
    }
    .basket {
      .itemContainer {
        width: 95%;
        font-size: 1.3rem;
        input {
          height: 30px;
          width: 35px;
          font-size: 1.1rem;
        }
        button {
          margin: 0 0.5rem;
          .controlBtn {
            height: 15px;
          }
        }
        .productImage {
          padding: 0.1rem 0.5rem 0.1rem 1.6rem;
          height: 70px;
        }
      }
    }
    .summary {
      h1 {
        font-size: 2rem;
      }
      .productSumContainer {
        .productSumPreview {
          font-size: 1rem;
        }
      }
      button {
        padding: 0.7rem 2rem;
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .navbar {
    .navLink {
      padding: 1.1rem 1.2rem;
      font-size: 1.2rem;
    }
    ul .products .subNavLink {
      padding: 1rem 1rem;
      font-size: 1.1rem;
      &:hover {
        padding-inline-start: 1.3rem;
      }
    }
  }
  .bestSellers {
    margin-top: -0.9rem;
    font-size: 1.5rem;
  }
  .itemPreview {
    margin: 0;
    img {
      height: 150px;
    }
  }
  .categories {
    h1 {
      font-size: 1.5rem;
    }
    a {
      img {
        height: 10rem;
      }
      h2 {
        font-size: 1.3rem;
      }
    }
  }
  .aboutUs article {
    margin: 1rem 0;
    &:nth-child(even) img {
      height: 18rem;
    }
    h1 {
      font-size: 1.3rem;
    }
    img {
      height: 13rem;
    }
    p {
      line-height: 1.5rem;
      font-size: 0.8rem;
    }
  }
  .productsContainer {
    .products .productsItem {
      margin: 0.4rem 0.5%;
      width: 49%;
      padding: 0.2rem;
      .breaker {
        margin: 0.2rem auto;
      }
    }
  }
  .productContainer {
    .product {
      img {
        height: 65vh;
      }
      .productInfo {
        h1 {
          margin: 3rem 0 0.5rem 0;
          font-size: 1.4rem;
        }
        p {
          font-size: 1.8rem;
        }
        .addBtn {
          padding: 1.3rem 1.8rem;
          margin: 2rem 0;
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    .hamburgerBtn {
      display: flex;
    }
    & > ul {
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      background-color: black;
      z-index: 3;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
      }
      .products {
        div {
          transform: unset;
          left: 100%;
          top: 0;
        }
      }
    }
    .navLink {
      font-size: 2rem;
    }
  }
}
